.header {
  background-color: rgba(100,149,237,0.25);
  margin: 0px;
  height: 46px;
  vertical-align: middle;
  display: flex;
  overflow: clip;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

body {
  margin: 0;
  padding: 0;
}

.row{ margin-left: 0; margin-right: 0;}

.logo {
  alt: "sedmax";
  max-width: 100px;
  max-height: 32px;
  vertical-align: middle;
  margin-left: 20px;
  op
}

.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.main-svg {
border-radius: 15px;
box-shadow: 0 0 7px rgba(0,0,0,0.2);
}